* {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana;

}

header {
    font-size: 50px;
    font-weight: normal;
    padding: 2px;
}
.p1 {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

.trvlgd {
    font-weight: 300;
    font-size: 42px;
}

h3 {
    font-size: 21px;
    color: gray;
}
footer {
    float: right;
}

p {
    color: gray;
}

#phone {
    padding-top: 30px;
}

.camppic {
    display: flex;
    justify-content: center;
    align-content: space-around;
    margin: auto;
    width: 80%;
    height: 80%;
}